<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
	</head>
	<body>
	    <!-- Fixed navbar -->

	    <div class="container my-container">

	      <!-- Main component for a primary marketing message or call to action -->
	      <div class="jumbotron">
	        <div class="row">
			  <div class="col-sm-6 col-md-6">
			  	<img class="bannerimage" src="imgs/banner_trans.png"></img>
			  </div>
			  <div class="col-sm-6 col-md-3 col-md-offset-3">
			  	<div>
			  		<a href="#" class="btn btn-lg btn-default my-header-button"><span class="glyphicon glyphicon-play-circle"></span> All Streams</a></br></br>
			  		<a href="#" class="btn btn-lg btn-default my-header-button"><span class="glyphicon glyphicon-arrow-up"></span> Broadcast</a>
			  	</div>
			  </div>
			</div>
	      </div>
	      <h2>Browse Streams</h2>
	      <div class="row">
			  <div class="col-sm-4 col-md-2">
			    <div class="thumbnail">
			      <img src="imgs/stream_offline_small.png" class="vidthumb"></img>
			      <div class="caption">
			        <h4>A Stream!</h4>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4 col-md-2">
			    <div class="thumbnail">
			      <img src="imgs/stream_offline_small.png" class="vidthumb"></img>
			      <div class="caption">
			        <h4>A Stream!</h4>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4 col-md-2">
			    <div class="thumbnail">
			      <img src="imgs/stream_offline_small.png" class="vidthumb"></img>
			      <div class="caption">
			        <h4>A Stream!</h4>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4 col-md-2">
			    <div class="thumbnail">
			      <img src="imgs/stream_offline_small.png" class="vidthumb"></img>
			      <div class="caption">
			        <h4>A Stream!</h4>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4 col-md-2">
			    <div class="thumbnail">
			      <img src="imgs/stream_offline_small.png" class="vidthumb"></img>
			      <div class="caption">
			        <h4>A Stream!</h4>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4 col-md-2">
			    <div class="thumbnail">
			      <img src="imgs/stream_offline_small.png" class="vidthumb"></img>
			      <div class="caption">
			        <h4>A Stream!</h4>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4 col-md-2">
			    <div class="thumbnail">
			      <img src="imgs/stream_offline_small.png" class="vidthumb"></img>
			      <div class="caption">
			        <h4>A Stream!</h4>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4 col-md-2">
			    <div class="thumbnail">
			      <img src="imgs/stream_offline_small.png" class="vidthumb"></img>
			      <div class="caption">
			        <h4>A Stream!</h4>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4 col-md-2">
			    <div class="thumbnail">
			      <img src="imgs/stream_offline_small.png" class="vidthumb"></img>
			      <div class="caption">
			        <h4>A Stream!</h4>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4 col-md-2">
			    <div class="thumbnail">
			      <img src="imgs/stream_offline_small.png" class="vidthumb"></img>
			      <div class="caption">
			        <h4>A Stream!</h4>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4 col-md-2">
			    <div class="thumbnail">
			      <img src="imgs/stream_offline_small.png" class="vidthumb"></img>
			      <div class="caption">
			        <h4>A Stream!</h4>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4 col-md-2">
			    <div class="thumbnail">
			      <img src="imgs/stream_offline_small.png" class="vidthumb"></img>
			      <div class="caption">
			        <h4>A Stream!</h4>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4 col-md-2">
			    <div class="thumbnail">
			      <img src="imgs/stream_offline_small.png" class="vidthumb"></img>
			      <div class="caption">
			        <h4>A Stream!</h4>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4 col-md-2">
			    <div class="thumbnail">
			      <img src="imgs/stream_offline_small.png" class="vidthumb"></img>
			      <div class="caption">
			        <h4>A Stream!</h4>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4 col-md-2">
			    <div class="thumbnail">
			      <img src="imgs/stream_offline_small.png" class="vidthumb"></img>
			      <div class="caption">
			        <h4>A Stream!</h4>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4 col-md-2">
			    <div class="thumbnail">
			      <img src="imgs/stream_offline_small.png" class="vidthumb"></img>
			      <div class="caption">
			        <h4>A Stream!</h4>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4 col-md-2">
			    <div class="thumbnail">
			      <img src="imgs/stream_offline_small.png" class="vidthumb"></img>
			      <div class="caption">
			        <h4>A Stream!</h4>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4 col-md-2">
			    <div class="thumbnail">
			      <img src="imgs/stream_offline_small.png" class="vidthumb"></img>
			      <div class="caption">
			        <h4>A Stream!</h4>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4 col-md-2">
			    <div class="thumbnail">
			      <img src="imgs/stream_offline_small.png" class="vidthumb"></img>
			      <div class="caption">
			        <h4>A Stream!</h4>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4 col-md-2">
			    <div class="thumbnail">
			      <img src="imgs/stream_offline_small.png" class="vidthumb"></img>
			      <div class="caption">
			        <h4>A Stream!</h4>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4 col-md-2">
			    <div class="thumbnail">
			      <img src="imgs/stream_offline_small.png" class="vidthumb"></img>
			      <div class="caption">
			        <h4>A Stream!</h4>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4 col-md-2">
			    <div class="thumbnail">
			      <img src="imgs/stream_offline_small.png" class="vidthumb"></img>
			      <div class="caption">
			        <h4>A Stream!</h4>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4 col-md-2">
			    <div class="thumbnail">
			      <img src="imgs/stream_offline_small.png" class="vidthumb"></img>
			      <div class="caption">
			        <h4>A Stream!</h4>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4 col-md-2">
			    <div class="thumbnail">
			      <img src="imgs/stream_offline_small.png" class="vidthumb"></img>
			      <div class="caption">
			        <h4>A Stream!</h4>
			      </div>
			    </div>
			</div>
		</div>
	    </div> <!-- /container -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>
	</body>
</html>