<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
	</head>
	<body>
	    <!-- Fixed navbar -->

	    <div class="container my-container">

	      <!-- Main component for a primary marketing message or call to action -->
	      <div class="jumbotron">
	        <div class="row">
	        	<div class="col-sm-12 col-md-12">
	        		<img src="imgs/stream_offline_med.png" class="vidthumb"></img>
	        	</div>
			</div>
	      </div>

	    </div> <!-- /container -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>
	</body>
</html>