<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
	</head>
	<body>
	    <!-- Fixed navbar -->

	    <div class="container my-container">

	      <!-- Main component for a primary marketing message or call to action -->
	      <div class="jumbotron">
	        <div class="row">
			  <div class="col-sm-6 col-md-6">
			  	<a href="/landing.html"><img class="bannerimage" src="imgs/banner_trans.png"></img></a>
			  </div>
			  <div class="col-sm-6 col-md-3 col-md-offset-3">
                <div class="input-group">
                <input type="text" class="form-control" id="userText">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="searchUser()">Go!</button>
                </span>
                </div><!-- /input-group -->

			  </div>
			</div>
	      </div>

			<div class="jumbotron">
	        <div class="row">
			  <div class="col-sm-12 col-md-8">
			  	<H3 style="color: white">What is Streamy?</h3>
			  	<p align="justify"><b>Streamy</b> is a crowd-sourced journalism platform. With streamy, you can view live broadcasts of popular current events provided by nearby users. Becoming a streamy broadcaster is easy, it takes seconds! Just click "Broadcast" and begin broadcasting straight away, on any device. When you make a tweet near a place covered by major news networks, streamy will tweet you a link to begin streaming unbiased content to other users. <a href="allstreams.html"><b style="color:white">Discover more!</b></a></p>
			  </div>
			  <div class="col-sm-12 col-md-4">
			  	<img src="imgs/aboutimage.png" class="aboutimage"></img>
			  </div>
			</div>
	      </div>

	    </div> <!-- /container -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>
        <script>
            function searchUser() {
                var listOfUsernames = $("#userText").val().split(",").map(
                function(val) { 
                    return val.trim();
                });

                console.log(listOfUsernames);

                var totalRequested = 0;

                for (var i = 0; i < listOfUsernames.length; i++) {
                    $.getJSON("/twitter/" + listOfUsernames[i], function (json_ret) {
                        totalRequested++;
                        if (totalRequested == listOfUsernames.length) {
                            window.location.replace(
                                document.location.origin + "/streamer_list"
                            );
                        }

                    });
                }
            }
        </script>
	</body>
</html>
