<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
        #map-canvas { height: 100% }
    </style>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTML74DBnSbEOJSnThtpcF-F188TTd3DA&sensor=false">
    </script>

    <script type="text/javascript">
        var map;
        var map_options;
        var map_bounds = new google.maps.LatLngBounds();

        function initialize() {
            map_options = {
                zoom: 3,
                center: new google.maps.LatLng(60, 105),
                mapTypeId: google.maps.MapTypeId.TERRAIN
            };

            map = new google.maps.Map(
                document.getElementById('map-canvas'),
                map_options
            );

            // CHANGE ZOOM IF NECESSARY AFTER BOUNDS HAVE CHANGED
            zoomChangeBoundsListener = google.maps.event.addListenerOnce(
                map,
                'bounds_changed',
                function(event) {
                    if (map.getZoom() > 12) {
                        map.setZoom(12);
                    }
                }
            );
            setTimeout(
                function(){
                    google.maps.event.removeListener(zoomChangeBoundsListener)
                }
                ,2000
            );

            draw_markers();
        }

        function draw_markers() {
            // DRAW POINTS
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/tweets",
                data: '{ "search_term": "{{ search_term }}" }',
                success: function(data) {
                    for (var i in data.tweets) {
                        var tweet = data.tweets[i];

                        if (tweet.coordinates.coordinates[0] !== null
                                && tweet.coordinates.coordinates[1] !== null
                                && text !== null) {
                            var point_1 = tweet.coordinates.coordinates[0];
                            var point_2 = tweet.coordinates.coordinates[1];
                            var text = tweet.text;

                            var marker = new google.maps.Marker({
                                position: new google.maps.LatLng(point_1, point_2),
                                map: map,
                                title: text
                            });

                            google.maps.event.addListener(marker, "click", function () {
                                $.getJSON("/twitter/" + tweet.user.screen_name ,function (data) {
                                    window.location.replace(
                                        document.location.origin + "/streamer_list"
                                    )
                                });

                            });


                            map_bounds.extend(new google.maps.LatLng(point_1, point_2));
                        }
                    }
                    map.fitBounds(map_bounds);
                },
                dataType: "json"
            });


        }

        google.maps.event.addDomListener(window, 'load', initialize);
        // draw_markers()

    </script>

    <style>
        #map-canvas {
            clear: both;
            width: auto;
            height: 500px;
            margin-top: 20px;
        }

        ul#search_menu {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        ul#search_menu li {
            padding: 0;
            margin: 0;
        }

        ul#rss_feeds {
            float: right;
        }

    </style>
    </head>
    <body>
        <!-- Fixed navbar -->

        <div class="container my-container">

          <!-- Main component for a primary marketing message or call to action -->
          <div class="jumbotron">
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <a href="/landing.html"><img class="bannerimage" src="imgs/banner_trans.png"></img></a>
              </div>
              <div class="col-sm-6 col-md-3 col-md-offset-3">
              </div>
            </div>
          </div>

            <div >

                <div class="col-sm-12 col-md-5">
                <form id="search_menu" action="/map" method="post">
                    <div class="input-group">

                        <input type="text" class="search-query form-control" placeholder="Search" name="search_term" id="search_term" value="Sochi">
                        <span class="input-group-btn">
                        <button type="submit" type="button"  class="btn btn-default">Search</button>
                        </span>
                    </div>
                </form>
                </div>

                <div class="row">
                <div class="col-sm-12 col-md-12">

                <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
                <script>
                    $(document).ready(function() {
                    });
                </script>


                <div id="map-canvas"></div>
                <ul id="rss_feeds" class="list-group">
                    {% for feed in rss %}

                    {% if feed.sentiment.polarity > 0 %}
                        <li class="list-group-item list-group-item-success">
                    {% elif feed.sentiment.polarity < 0 %}
                        <li class="list-group-item list-group-item-danger">
                    {% else %}
                        <li class="list-group-item">
                    {% endif %}

                        <a href="{{ feed.source_link }}">
                            [{{ feed.source }}] – {{ feed.title }}
                        </a>
                    </li>
                    {% endfor %}

                </ul>
              </div>

            </div>
          </div>

        </div> <!-- /container -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>
        <script>
        </script>
    </body>
</html>

