<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
        <style>
            /* a:link {color:#FF0000;} */
        </style>
	</head>
	<body>
	    <!-- Fixed navbar -->

	    <div class="container my-container">

	      <!-- Main component for a primary marketing message or call to action -->
	      <div class="jumbotron">
	        <div class="row">
			  <div class="col-sm-6 col-md-6">
			  	<a href="/landing.html"><img class="bannerimage" src="imgs/banner_trans.png"></img></a>
			  </div>
			  <div class="col-sm-6 col-md-3 col-md-offset-3">
                <div class="input-group">
                <input type="text" class="form-control" id="userText">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="searchUser()">Go!</button>
                </span>
                </div><!-- /input-group -->
			  </div>
			</div>
	      </div>

			<!-- <div class="jumbotron"> -->
                <table class="table">
                    {% for streamer in streamer_list %}
                    <tr><td><a href="/streamee/{{ streamer }}"><b>{{ streamer }}</b></a></td></tr>
                    {% endfor %}
                </table>
            <!-- </div> -->

	    </div> <!-- /container -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>
        <script>
            function searchUser() {
                var listOfUsernames = $("#userText").val().split(",").map(
                function(val) { 
                    return val.trim();
                });

                var totalRequested = 0;

                for (var i = 0; i < listOfUsernames.length; i++) {
                    $.getJSON("/twitter/" + listOfUsernames[i], function (json_ret) {
                        totalRequested++;
                        if (totalRequested == listOfUsernames.length) {
                            window.location.replace(
                                document.location.origin + "/streamer_list"
                            );
                        }

                    });
                }
            }
        </script>
	</body>
</html>
