<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
		<link
        href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"
        rel="stylesheet">
        <style type="text/css">
            a:link {color:#FF0000;}   
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }

            .container-narrow {
                margin: 0 auto;
                max-width: 700px;
            }

            div#badge {
                width: 141px;
                height: 141px;
                position: fixed;
                top: 0;
                right: 0;
            }
        </style>
	</head>
	<body>
	    <!-- Fixed navbar -->

	    <div class="container my-container">

	      <!-- Main component for a primary marketing message or call to action -->
	      <div class="jumbotron">
	        <div class="row">
			  <div class="col-sm-6 col-md-6">
			  	<a href="landing.html"><img class="bannerimage" src="/imgs/banner_trans.png"></img></a>
			  </div>
			  <div class="col-sm-6 col-md-3 col-md-offset-3">
			  	<div>
			  		<a href="/streamer_list" class="btn btn-lg btn-default my-header-button"><span class="glyphicon glyphicon-play-circle"></span> All Streams</a></br></br>
			  	</div>
			  </div>
			</div>
	      </div>

	      <div class="row">
			  <div class="col-sm-12 col-md-6">
			    <div class="thumbnail">
			     	<img id="stream"></img>
			    </div>
			  </div>
			</div>

	    </div> <!-- /container -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>
		<script text="text/javascript">
            window.onload = function () {
                var webSocket = new WebSocket("ws://" + document.location.hostname + ":8888/streamee/{{ stream_id }}");
                webSocket.onmessage = function (e) {
                    image = document.getElementById("stream");
                    image.setAttribute("src", e.data);
                    image.setAttribute("height", 480);
                    image.setAttribute("width", 640);
                }
            }
        </script>
	</body>
</html>
