<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
		<style type="text/css">
            .container-narrow {
                margin: 0 auto;
                max-width: 700px;
            }

            video {
                height: auto !important;
                width: 100% !important;
            }

            div#badge {
                width: 141px;
                height: 141px;
                position: fixed;
                top: 0;
                right: 0;
            }
        </style>
	</head>
	<body>
        <canvas id="mainCanvas" height="100" width="50" style:"display: none;">
            Your browser does not support Canvas (stupid you)
        </canvas>
        <video id="video" style="display: block;"  autoplay controls></video>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>
		<script
            src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
        </script>
        <script
            text="text/javascript"
            src="http://aw204.host.cs.st-andrews.ac.uk/camgaze.js/js/compatibility.js">
        </script>
        <script
            text="text/javascript"
            src="http://aw204.host.cs.st-andrews.ac.uk/camgaze.js/js/camgaze.js">
        </script>
        <script text="text/javascript">
            window.onload = init;
            function init() {
                var width = 100;
                var height = 50;
                var cGaze = new camgaze.Camgaze(width, height, "mainCanvas");
                var webSocket = new WebSocket("ws://" + document.location.hostname + ":8889/streamer/{{ stream_id }}");
                var canSend = true;
                webSocket.onmessage = function (e) {
                    canSend = true;
                }

                $("#mainCanvas").css("display", "none");

                var frameOp = function (image_data, video) {
                    var base64Image = document.getElementById(
                        "mainCanvas"
                    ).toDataURL();

                    if (canSend) {
                        webSocket.send(base64Image);
                        canSend = false;
                    }

                    return image_data;
                };
                cGaze.setFrameOperator(frameOp);
            }
        </script>
	</body>
</html>
